body{
    background-color: #f5f5f5;
}
#app-main{
    /*margin: 5%;*/
    background-color: #fff;
    height: 94vh;
}
.logo{
    text-align: center;
    padding-bottom: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: absolute;
    height: 95%;
    overflow: auto;
    padding-top: 10px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #417690;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.container{
    margin-left: 15%;
    padding: 10px 16px;
    height: 100%;
    width: 85%;
}
.float-right{
    float: right;
    margin-right: 5px;
}
.btn-true{
    color: green;
}
.btn-false{
    color: #de1111;
}
footer{
    background: #417690;
    padding: 0;
    position: relative;
    text-align: center;
}
.btn-primary, .btn-info{
    background: #417690;
}
.login-form{
    padding: 0 10% 0 10%;
}
.id-click{
    cursor: pointer;
}
.alert-danger{
    margin: 10px;
}
.pagination{
    position: relative;
    display: block;
    text-align: center;
    bottom: 0;
    /* margin-right: 40px; */
    margin-bottom: 40px;
    margin-top: 40px;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
}
.pagination-link{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination-link-left{
    margin-right: 20px;
}
.pagination-link-right{
    margin-left: 20px;
}
.page-heading{
    float: left;
    margin: 10px;
    margin-left: 20px;
    font-size: 25px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    text-align: center;
}
.small-input-box{
    width: 20%;
}
.large-input-box{
    width: 78%;
}
.float-left{
    float: left;
    margin-right: 2%;
}